:root {
    --white-principal: #FFFFFF;
    --gray-second: #C0C0C0;
    --blue--button: #167BF7;
    --background--color: #00030C;
}

body {
    background-color: var(--background--color);
    color: var(--white-principal);
}

* {
   margin: 0;
   padding: 0; 
}

.principal {
    background-image: url("img/Background.png");
    background-repeat: no-repeat;
    background-size: contain;
}

.container {
    height: 100vh;
    display: grid;
    grid-template-columns: 50% 50%;
}

.container__button {
    background-color: var(--blue--button);
    border-radius: 5px;
    padding: 1em;
    color: var(--white-principal);
    display: block;
}

.button_secondary {
    background-color: transparent;
    border: 2px solid var(--white-principal);
}