:root {
    --white-principal: #FFFFFF;
    --gray-second: #C0C0C0;
    --blue--button: #167BF7;
    --background--color: #00030C;
    --fonte-principal: 'Inter';
}

body {
    background-color: var(--background--color);
    color: var(--white-principal);
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 400;
}

* {
   margin: 0;
   padding: 0; 
}

.principal {
    background-image: url("img/Background.png");
    background-repeat: no-repeat;
    background-size: contain;
    align-items: center;
    text-align: center;
}

.container {
    height: 100vh;
    display: grid;
    grid-template-columns: 50% 50%;
}

.container__button {
    background-color: var(--blue--button);
    border-radius: 5px;
    padding: 1em;
    color: var(--white-principal);
    display: block;
    text-decoration: none;
    margin-bottom: 1em;
}

.button__secondary {
    background-color: transparent;    
    border: 2px solid var(--white-principal);
}

.container__notice {
    font-size: 12px;
    color: var(--gray-second);
}

.container__title {
    font-size: 28px;
    font-weight: 700;
}

.container__image {
    margin: 1em 0 2em 0;
}

.container__box {
    margin: 0 6em;
}

.secondary__image {
    width: 80%;
}

.secondary {
    align-items: center;
    margin: 0 10em;
}

.description__title {
    font-weight: 700;
    font-size: 48px;
    color: var(--white-principal);
    margin-bottom: 0.1em;
}

.description__text {
    color: var(--gray-second);
}

.button__secondary {
    display: inline-block;
    margin-top: 1em;
}

.container__description {
    padding: 2em;
}

.description__text {
    margin-top: 1em;
}

.devices__list {
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin: 5em 0;
}

.devices {
    text-align: center;
}

.devices__title {
    font-size: 48px;
    color: var(--white-principal);
}

.list__item {
    font-size: 32px;
    color: var(--white-principal);
}

.footer {
    text-align: center;
    margin: 5em 3em;
}

.footer__logo {
    margin-bottom: 2em;
}

.footer__list {
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin: 1em;
}

.list__link a {
    text-decoration: none;
    margin-left: 1.5em;
    color: var(--white-principal);
}

.footer__text {
    margin: 1.5em 0;
    color: var(--gray-second);
    font-size: 14px;
}